<!DOCTYPE html>
<html>
  <title>Gaurav Chauhan | Fronntend Web developer</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
  </style>
  <body class="w3-light-grey">
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">
      <!-- The Grid -->
      <div class="w3-row-padding">
        
        <!-- Left Column -->
        <div class="w3-third">
          
          <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">
              <img src="https://i.imgur.com/6aulh4P.jpg?1" style="width:100%;" alt="Avatar">
              <div class="w3-display-bottomleft w3-container w3-text-black">
                <h2 style="color:white;"><b>Gaurav Chauhan<b></h2>
              </div>
            </div>
            <div class="w3-container">
              <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Web Developer</p>
              <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Haryana , Ambala</p>
              <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>karan02555@gmail.com</p>
              <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>(+91) 8397976950</p>
              <hr>
              <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
              <p>Web Development</p>
              <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
              </div>
              <p>Python</p>
              <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
                  <div class="w3-center w3-text-white">80%</div>
                </div>
              </div>
              <p>Photoshop</p>
              <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:65%">65%</div>
              </div>
              <p>Data analytics</p>
              <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:40%">40%</div>
              </div>
              <br>
              <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
              <p>English</p>
              <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
              </div>
              <p>Hindi</p>
              <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
              </div>
              <p>Punjabi</p>
              <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-teal" style="height:24px;width:75%"></div>
              </div>
              <br>
            </div>
          </div><br>
          <!-- End Left Column -->
        </div>
        <!-- Right Column -->
        <div class="w3-twothird">
          
          <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Web Development Intern / Savemonk</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2018 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
              <p>Work on progressive web applications using AngularJS.
                <br>
              Develop mobile specific and desktop specific frontend using HTML, & CSS.</p>
              <hr>
            </div>
            
          </div>
          <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-asterisk fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Courses</h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Python Development / Acadview</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2018 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Core Java / Acadview</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Feburary 2018 - <span class="w3-tag w3-teal w3-round">April 2018</span></h6>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Frontend Web Development / Acadview</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>January 2017 - <span class="w3-tag w3-teal w3-round">March 2017</span></h6>
              <hr>
            </div>
          </div>
          <div class="w3-container w3-card w3-white">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>GURU NANAK INSTITUTION OF TECHNOLOGY </b><br>
              BACHELOR OF ELECTRONICS</h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Current</h6>
              <p>Bachelor Of Technology focused in Electronics and Communication Engineering
              </p>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>G.M.S.S.S HIGH SCHOOL</b><br>
              HIGHER SECONDARY</h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>March 2015 - March 2016</h6>
              <p>H.B.S.E. Class XII <br>
              GPA: 5.99</p>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>SANT MOHAN SINGH SR.SEC.PUBLIC SCHOOL BARARA</b><br>
              HIGH SCHOOLING
              </h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>March 2013 - 2014</h6>
              <p>C.B.S.E. Class X<br>
              GPA: 6.6</p><br>
            </div>
          </div>
          <!-- End Right Column -->
        </div>
        
        <!-- End Grid -->
      </div>
      
      <!-- End Page Container -->
    </div>
    <footer class="w3-container w3-teal w3-center w3-margin-top">
      <p>Find me on social media.</p>
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
      <p>Designed By <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">Gaurav Chauhan</a></p>
    </footer>
  </body>
</html>